* {
  font-family: sans-serif;
  font-size: medium;
  margin: 5px;
}

fieldset {
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input {
  padding: 2px;
  margin-bottom: 5px;
}

button {
  border: 0;
  padding: 5px;
  color: white;
}

#invio{
  background-color: green;
}

#cancella{
  background-color: red;
}

#info{
  background-color: gray;
}