* {
  font-family: sans-serif;
  font-size: medium;
  margin: 5px;
}

fieldset {
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
}

input {
  padding: 2px;
  margin-bottom: 5px;
}