/* CSS viene considerato un modello a cascata, che viene considerato soltanto l'ultimo elemento nel foglio per applicare la modifica desiderata */

/* Così si colorano i paragrafi per tag  */
p {
  color: blue;
} 

/* "." con il punto si indica che viene modificata una classe */

.testo {
  color: red;
}

/* "#" con l'hastag viene modificato un id */

#testo {
  color: green;
}

/* Se ora motifico il tag "p" lore verrà cambiato per l'effetto a cascata */

p {
  color: aqua;
}

/* L'ultima regola è quella che suprema sulle altre in caso di richiamo dello stesso tag o id oppure classe */



/* Box model */

/* Struttura */

/* 
Content -> testo
Padding -> spazio interno
Border -> bordo
margin -> Spazio esterno
*/

/* Esempio */

div {
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
}

/* proprietà essenziali */

/* 
color

background-color

font-family

font-size

margin

padding

border

width

height
 */